<% game = yield.presence || local_assigns.fetch(:game) %>

<% column_size = local_assigns.fetch(:column_size, "") %>

<div class="column <%= column_size %>">
    <div class="card">
        <%= link_to(game) do %>
            <div class="card-image">
                <figure class="image is-4by3">
                    <% if game.imageCounter == 0 && !game.igdb_image_url.nil? %>
                      <%= image_tag(game.igdb_image_url, style: "width: 100%;")%>
                    <% elsif game.imageCounter > 0 %>
                      <% (1..game.imageCounter).to_a.each do |i| %>
                        <div class="slide">
                          <figure class="image is-16by9">
                            <%= image_tag("https://res-5.cloudinary.com/moses-nfsg/image/upload/v1/storby/" + game.name.parameterize.underscore + "/" + i.to_s, style: "width: 100%;")%>
                          </figure>
                        </div>
                      <% end %>
                    <% else %>
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png" style="width: 100%;">
                    <% end %>
                </figure>
            </div>
            <div class="card-content">
                <div class="columns is-mobile is-vcentered">
                    <div class="column is-8">
                        <span class="title is-5"><%= game.name %></span>
                    </div>
                    <div class="column is-4 has-text-right">
                        <% if game.price == 0 %>
                            <span>Free</span>
                        <% else %>
                            <span><%= game.price %></span>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>