<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @request.text %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @request.approved %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
